<main class="container p-5">
    <table class="table table-dark">
        <thead>
            <tr class="table-active">
                <th scope='col'>Id</th>
                <th scope='col'>Couse</th>
                <th scope='col'>Time</th>
            </tr>
        </thead>
        <tbody>
            {{#each this.coursesEnrolled as |course|}}
                <tr>
                    <td>{{course.ID}}</td>
                    <td>{{course.Name}}{{course.Number}}</td>
                    <td>{{course.Time}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</main>